<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <% for (var i in node.breadcrumb){ %>
        <li><a href="/<%-i%>"><%=node.breadcrumb[i]%></a></li>
      <% }
      var link_label = node.link?node.link:node.title;
      %>
      <li class="active"><%=link_label%></li>
    </ol>
  </div>
</div>