<% layout('content-layout') -%>
<div class="container">
  <% include section/header %>
  <% include section/breadcrumb %>
  
  <% for (var i = 0; i < node.experiments.length; i++){ %>
    <% if (i%2==0){ %>
      <div class="row">
    <% } %>
    <%
      teaser_node = node.experiments[i];
    %>
    <% include experiments/section/teaser %>
    
    <% if (i%2==1 || i==node.experiments.length-1){ %>
      </div><!-- end of row-->
    <% } %>
  <% } %>
</div>