<% layout('layout') -%>
<%/* script('foo.js') -*/%>
<%/* stylesheet('foo.css') -*/%>
<div class="carousel slide">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('img/intro.jpg');"></div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('img/coconutrainbow2.jpg');"></div>
        <div class="carousel-caption">
          <h1>I live in Hilo, Hawaii</h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('img/epscor-website-small.jpg');"></div>
        <div class="carousel-caption">
          <h1>I develop websites</h1>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
</div>
<div class="content">
  <div class="section">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-3 col-md-3">
        </div>
        <div class="col-lg-3 col-md-3">
          <h3><i class="fa fa-user"></i> <a href="/about">About Me</a></h3>
          <p>Get the lowdown on who I am, where I'm from, and what I do.</p>
        </div>
        <div class="col-lg-3 col-md-3">
          <h3><i class="fa fa-beer"></i> <a href="/experiments">Experiments</a></h3>
          <p>Check out some of the wonky stuff I've put together.</p>
        </div>
        <div class="col-lg-3 col-md-3">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section -->
</div>