<% layout('experiment-layout') -%>
<div class="row">
  <div class="col-md-8">
    <img class="img-responsive" src="http://placehold.it/750x450&text=Demo">
  </div>
  <div class="col-md-4">
    <h2>I did some stuff.</h2>
    <p>
      K, cool beans.
    </p>
  </div>
</div>
