<% layout('experiment-layout') -%>
<% script('/experiments/chroma-key/scripts/getusermedia.bundle.js') -%>
<% script('/experiments/chroma-key/scripts/attachmediastream.bundle.js') -%>
<% script('/experiments/chroma-key/scripts/dat.gui.min.js') -%>
<% script('/experiments/chroma-key/scripts/main.js') -%>
<% stylesheet('/experiments/chroma-key/style.css') -%>
<div id="demo-content"></div>