<% layout('experiment-layout') -%>
<% script('/experiments/music/js/MIDI/AudioDetect.js') -%>
<% script('/experiments/music/js/MIDI/LoadPlugin.js') -%>
<% script('/experiments/music/js/MIDI/Plugin.js') -%>
<% script('/experiments/music/js/MIDI/Player.js') -%>
<% script('/experiments/music/js/MusicTheory/Synesthesia.js') -%>
<% script('/experiments/music/js/Widgets/Loader.js') -%>
<% script('/experiments/music/js/Window/DOMLoader.XMLHttp.js') -%>
<% script('/experiments/music/js/Window/DOMLoader.script.js') -%>
<% script('/experiments/music/js/raphael-min.js') -%>
<% script('/experiments/music/inc/Base64.js') -%>
<% script('/experiments/music/inc/base64binary.js') -%>
<% script('/experiments/music/music.js') -%>
<% stylesheet('/experiments/music/stylesheets/screen.css') -%>
<div id="demo-content">
  <div id="content">
    <div id="piano"></div>
    <div id="controls"></div>
    <div id="visualization"></div>
  </div>
</div>